.calculator {
    display: grid;
    padding: 10px;
    border-radius: 1em;
    grid-template-columns: repeat(6);
    grid-gap: 10px;
    max-width: 400px;
    margin: 0 auto;
    background-color: grey;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .screen {
    grid-column: span 6;
    flex-direction: column;
    align-items: flex-end;
    background-color: #eee;
    padding: 10px;
  }

  #zone-saisie,
  #resultat{
    display: block;
    width: 100%;
    
  }
  
  .affichage {
    font-size: 2rem;
  }
  
  .clear,
  .parentheses,
  .operator,
  .number,
  .decimal,
  .equals {
    font-size: 1.5rem;
    border-radius: 8px;
    background-color: #ddd;
    cursor: pointer;
  }
  
  .clear {
    grid-column: 6 / span 1;
  }
  
  .parentheses,
  .operator,
  .number,
  .decimal,
  .equals {
    grid-column: span 1;
  }

  .equals{
    grid-column: 5 / span 2;
  }

  #number0{
    grid-column: 1/ span 1;
  }

  #operatorplus{
    grid-column: 4/ span 1;
  }
  
  
  .active {
    background-color: #ccc;
  }
  
  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  